html,
body,
#root {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.layout-wrapper {
  display: grid;
  min-height: 100vh;
  min-width: 100vw;
}

div.layout-wrapper.full {
  grid-template-areas: 'head head' 'sidepanel main';
  grid-template-rows: 50px 1fr;
  grid-template-columns: 300px 1fr;
}

div.layout-wrapper.small {
  grid-template-areas: 'head' 'fullpanel';
  grid-template-columns: 100vw 1fr;
  grid-template-rows: 50px 1fr;
}

h1.head {
  background: #111;
  grid-area: head;
  padding: 15px 0px 0px 20px;
  margin: 0px;
  font-size: 15px;
  text-align: left;
}

h1.head a {
  color: aquamarine;
  text-decoration: none;
  display: block;
}

aside {
  background: #333;
  overflow: auto;
  overflow-y: hidden;
  height: 100%;
  text-align: center;
}

aside img.loader {
  margin-top: 20px;
}

aside.small {
  grid-area: fullpanel;
}

aside.full {
  grid-area: sidepanel;
}

aside a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

main.full {
  grid-area: main;
}

main.small {
  grid-area: fullpanel;
}

main {
  background: #222;
  padding: 0px 0px 0px 20px;
  color: #fff;
  text-align: center;
}

main img.loader {
  margin-top: 20px;
}

main.with-bg {
  background: url('https://picsum.photos/1920/1080/?blur') top left fixed;
}

main div#issue-wrapper {
  text-align: left;
}

div.list-issue-wrapper {
  padding: 15px;
  text-align: left;
}

div.list-issue-wrapper:nth-child(even) {
  background: #777;
}

span.listed-issue {
  font-size: 13px;
  display: block;
  margin: 5px;
}

label {
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  font-size: 11px;
}

span.loader {
  display: block;
  color: #fff;
  padding: 20px;
  margin: 20px;
}

h1.issue-title {
  color: #fff;
  font-size: 25px;
}

div.issue-details input[type='button'] {
  border-radius: 5px;
  border: none;
  background: skyblue;
  width: 50px;
  height: 30px;
  padding: none;
  transition: all ease-in 0.3s;
  margin: 10px 0px 0px 5px;
}

div.issue-details input[type='button']:hover {
  background-color: aquamarine;
}

span.issue-tag {
  font-weight: bold;
  margin-right: 10px;
}

span.issue-name {
  font-weight: bold;
  color: skyblue;
}

div.issue-details a {
  color: #fff;
}

div.issue-details a:hover {
  color: aquamarine;
}

div.user-comment {
  display: grid;
  grid-template-areas: 'user-avatar comment-data';
  grid-template-rows: 50px 1fr;
  grid-template-columns: 60px 1fr;
  padding: 10px;
}

div.user-comment a {
  color: #fff;
  text-decoration: none;
}

div.user-comment a:hover {
  color: aquamarine;
}

img.user-avatar {
  grid-area: user-avatar;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
}

div.comment-data {
  display: grid;
  grid-area: comment-data;
  grid-template-areas: 'user-name time-posted' 'comment-text comment-text';
  grid-template-rows: 25px 1fr;
  grid-template-columns: auto 1fr;
}

span.user-name {
  cursor: pointer;
  grid-area: user-name;
  font-weight: bold;
}

span.time-posted {
  grid-area: time-posted;
  font-style: italic;
  color: #555;
  padding-left: 10px;
}

div.comment-text {
  grid-area: comment-text;
  text-indent: 15px;
}
